<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wall.dao.AppointmentMapper">
  <resultMap id="BaseResultMap" type="com.project.wall.po.Appointment">
    <!--@mbg.generated-->
    <!--@Table appointment-->
    <id column="appointment_id" jdbcType="VARCHAR" property="appointmentId" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="img" jdbcType="LONGVARCHAR" property="img" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="exceed" jdbcType="INTEGER" property="exceed" />
    <result column="reply_num" jdbcType="INTEGER" property="replyNum" />
    <result column="join_num" jdbcType="INTEGER" property="joinNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    appointment_id, account_id, username, title, content, `type`, img, gmt_create, `time`, 
    exceed, reply_num, join_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from appointment
    where appointment_id = #{appointmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from appointment
    where appointment_id = #{appointmentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.project.wall.po.Appointment">
    <!--@mbg.generated-->
    insert into appointment (appointment_id, account_id, username, 
      title, content, `type`, 
      img, gmt_create, `time`, 
      exceed, reply_num, join_num
      )
    values (#{appointmentId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{type,jdbcType=INTEGER}, 
      #{img,jdbcType=LONGVARCHAR}, #{gmtCreate,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{exceed,jdbcType=INTEGER}, #{replyNum,jdbcType=INTEGER}, #{joinNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.wall.po.Appointment">
    <!--@mbg.generated-->
    insert into appointment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appointmentId != null">
        appointment_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="exceed != null">
        exceed,
      </if>
      <if test="replyNum != null">
        reply_num,
      </if>
      <if test="joinNum != null">
        join_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appointmentId != null">
        #{appointmentId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=LONGVARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="exceed != null">
        #{exceed,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null">
        #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="joinNum != null">
        #{joinNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.wall.po.Appointment">
    <!--@mbg.generated-->
    update appointment
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=LONGVARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
      <if test="exceed != null">
        exceed = #{exceed,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null">
        reply_num = #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="joinNum != null">
        join_num = #{joinNum,jdbcType=INTEGER},
      </if>
    </set>
    where appointment_id = #{appointmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.wall.po.Appointment">
    <!--@mbg.generated-->
    update appointment
    set account_id = #{accountId,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      img = #{img,jdbcType=LONGVARCHAR},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      `time` = #{time,jdbcType=VARCHAR},
      exceed = #{exceed,jdbcType=INTEGER},
      reply_num = #{replyNum,jdbcType=INTEGER},
      join_num = #{joinNum,jdbcType=INTEGER}
    where appointment_id = #{appointmentId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteAppointment">
    delete from appointment
    where appointment_id = #{appointmentId} and account_id = #{accountId};
  </delete>

  <select id="getAppointmentList" resultMap="BaseResultMap">
    select * from appointment where type = #{type} order by gmt_create limit #{num};
  </select>

  <select id="getAppointmentId" resultType="java.lang.String">
    select appointment_id from appointment where type = #{type} limit #{num};
  </select>

    <select id="selectAppointmentByUser" resultMap="BaseResultMap">
        select * from appointment where account_id = #{accountId} order by gmt_create desc;
    </select>

  <update id="updateUsername">
        update appointment set username = #{username} where account_id = #{accountId}
  </update>
  <select id="selectNumByUser" resultType="java.lang.Integer">
    select count(*) from appointment where account_id = #{accountId};
  </select>

</mapper>